
html, body{
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#qrcode img{
  margin:auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: #008466;
}

h4 {
  color: rgba(0,0,0,0.6);
  font-weight: 600;
  font-size: 20px;
}

.edit-icon {
    position: absolute;
    right:0;
}

.btn-space {
  width: 5rem !important;
  height: 5rem !important;
}

.space-value {
    font-size: 65px;
}

.nav-links a {
  color: rgba(0,0,0,0.6);
}

.nav-links a:hover {
  color: #008466;
}

p {
  color: rgba(0,0,0,0.6);
}

hr {
  border-top: 4px solid #008466;
  margin-top:.5rem;
}

i {
  margin: 0 45px 0 0;
}

.yellow {
  background-color: #ffae42;
}

.red {
  background-color: #ff0000 !important;
}

.red-text {
  color: #ff0000;
}

.bold {
  font-weight: 600;
}

.bg-color {
  background-color: #008466;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.green-icon {
  color: #008466;
}

.logo-icon {
  width:25px;
  height:25px;
  vertical-align: sub;
}

.sub-text {
  color: #008466;
  font-size: 12px;
}

.material-icons, header {
  color: white;
}

.nav-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-color {
  color: white;
}

.navbar-toggler {
  border: none;
}

.btn-engage {
  background-color: #008466;
  border-color: #008466;
  color: white;
  min-width: 120px;
}

.btn-plus {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.invisible {
  visibility: hidden;
}
#current-total{
  position: absolute;
  left:101%;
  top:50%;
  transform:translateX(-50%);
  opacity: 1;
  transition:opacity 300ms ease;
}
.hidden{
  opacity:0;
}
