
html, body{
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#qrcode img{
  margin:auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}
h1{
  color: #008466;
  text-align: center;
  margin-bottom:20px;
}


h3 {
  color: #008466;
}

h4 {
  color: rgba(0,0,0,0.6);
  font-weight: 600;
  font-size: 20px;
}

.cookie-banner {
  background-color: #008466;
  position: fixed;
  bottom:0;
  color: white;
  z-index: 99;
  padding: 25px 25px;
  text-align: center;
  font-size:14px;
  width: 100%;
}

.btn-cookie {
  background-color: #fff;
  border-color: #fff;
  color: #008466;
  min-width: 170px;
}

.cookie-banner p {
  margin:0;
  color: white;
}

.edit-icon {
    position: absolute;
    right:0;
}

.btn-space {
  width: 5rem !important;
  height: 5rem !important;
}

.space-value {
    font-size: 65px;
}

.nav-links a {
  color: rgba(0,0,0,0.6);
}

.nav-links a:hover {
  color: #008466;
}

p {
  color: rgba(0,0,0,0.6);
}

hr {
  border-top: 4px solid #008466;
  margin-top:.5rem;
}

i {
  margin: 0 45px 0 0;
}

.jumbotron image{
  /* background-image: url(/occupancy_promo_sized.png);
  background-size: cover;
  border-radius: 0; */
  max-width:100%;
}

.container {
  max-width: 728px;
}
.hero-header{
  width:100%;
  max-width: 1200px;
  margin:auto;
  height:50vh;
  background-image:url('../occupancy_promo_sized.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero_image {
  max-width: 1200px;
  margin:auto;
  max-height:600px;
  display: block;
}

.yellow {
  background-color: #ffae42;
}

.red {
  background-color: #ff0000 !important;
}

.red-text {
  color: #ff0000;
}

.bold {
  font-weight: 600;
}

.bg-color {
  background-color: #008466;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.green-icon {
  color: #008466;
}

.logo-icon {
  width:25px;
  height:25px;
  vertical-align: sub;
}

.sub-text {
  color: #008466;
  font-size: 12px;
}

.material-icons, header {
  color: white;
}

.nav-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-color {
  color: white;
}

.navbar-toggler {
  border: none;
}

.btn-engage {
  background-color: #008466;
  border-color: #008466;
  color: white;
  min-width: 120px;
}



.btn-plus {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.invisible {
  visibility: hidden;
}
.bmd-drawer-in .navbar-nav{
  opacity:0;
  display: none;
}
